.heading {
    margin-top: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .text {
        font-size: 60px;
        font-weight: 600;
        color: $red;
    }

    .wrapper {
        position: relative;

        .offset {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);

            .text-food {
                color: #47d147;
            }

            .text-travel {
                color: #005ce6;
            }

            .text-moda {
                color: #b3b300;
            }

        .text {
            white-space: nowrap;

            transition-duration: 1s;
        }

        }
    }
}